<% layout('layouts/boilerplate') %> 

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="<%= centre.image%>">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><%= centre.title%></h1>
        <p class="mb-8 leading-relaxed"><%= centre.description%></p>
        <div class="flex justify-center">
            <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" href="/centres/<%=centre._id%>/edit">Edit</a>
                <form class="d-inline" action="/centres/<%=centre._id%>?_method=DELETE" method="POST">
                    <button class="ml-4 inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Delete</button>
                </form>
           </div>
      </div>
    </div>  
    
  </section>

  <div class="max-w-lg shadow-md">
    <h2>Leave a Status</h2>
    <form action="/centres/<%=centre._id%>/statuss" method="POST" class="mb-3 validated-form" novalidate>
        <!-- <div class="mb-3">
            <label class="form-label" for="rating">Rating</label>
            <input class="form-range" type="range" min="1" max="5" name="status[rating]" id="rating">
        </div> -->
        <!-- <div class="mb-3"> -->
            <label class="block mb-2" for="body"><span class="text-gray-600">Add a comment</span></label>
            <textarea class="block w-full bg-indigo-100 mt-1 rounded" name="status[body]" id="body" cols="30" rows="3" required></textarea>
        <!-- </div> -->
        <button class="px-3 py-2 text-sm text-blue-100 bg-blue-600 rounded">Submit</button>
    </form>
    <% for(let status of centre.statuss) { %>
    <div class="max-w-lg shadow-md ">
        <!-- <div class="card-body"> -->
            <p class="card-text">Status: <%= status.body %></p>
            <form action="/centres/<%=centre._id%>/statuss/<%=centre._id%>?_method=DELETE" method="POST">
                <button class="ml-4 inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Delete</button>
            </form>
        <!-- </div> -->
    </div>
    <% } %>
</div>
</div>
